@media (min-width: 768px) {

	body {
		margin-top: 70px;
	}

	header {
		height: 70px;
		padding: 0 20px;

		text-align: left;
	}

	header h1 {
		position: static;

		line-height: 70px;
		font-size: 30px;
	}

	header h1 i.fa {
		display: inline;
	}

	header h1 small {
		font-size: 16px;
	}

	nav {
		position: fixed;
		right: 0;
		top: 0;

		padding: 10px;
		width: auto;
		height: auto;

		line-height: 30px;
	}

	nav span.divider {
		display: inline-block;
	}

	nav a {
		display: inline-block;
	}

	section {
		max-width: 700px;
	}

	.about {
		display: table;
	}

	.about img {
		display: table-cell;
		margin-right: 20px;
	}

	.about p {
		display: table-cell;
	}

}